$color-light: #fff;
$color-dark: #2f3542;
$color-success: #15c26b;
$color-warning: #e1644e;
$color-questions: #784e7c;
$color-purpleLight: #b04ab9fd;

$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
