@import '../../styles/settings.scss';

.component {
  background: darken($color-dark, 3%);
  padding: ($base-size * 1.5) 0;

  a {
    color: $color-light;
    text-decoration: none;
    font-weight: 700;
    margin-right: $base-size;
    transition: $transition;
    &:hover {
      color: $color-success;
    }
    &:global(.active) {
      color: $color-purpleLight;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}


@media (max-width: 767px) {

  .component {
    transform: translateY(-10px);

    a {
      margin-right: $base-size;
      transform: translateY(-10px);
    }

    input {
      position: relative;
      width: auto;
      padding: 0 0 20px 0;
    }
  }
}